---
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import CSS from "./icons/CSS.astro"


const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  }
}
const PROJECTS = [
  {
    title: "The AI Museum - El primer museo de arte IA",
    description:
      "TheAIMuseum es un museo virtual que creé y desarrollé desde cero, dedicado exclusivamente a exponer arte generado con inteligencia artificial. Es mi primer proyecto, e intenté buscar una experiencia visual inmersiva y moderna.",
    link: "https://theaimuseum.tech",
    image: "/projects/theaimuseum.webp",
  },
  {
    title: "Leafly - Riego automatizado para plantas",
    description:
      "Leafly es un proyecto en progreso que automatiza el riego de plantas. Desarrollado para regar exactamente cuando y cuanto es necesario, optimizando el cuidado de plantas de manera totalmente automática. Está en desarrollo el funcionamiento y la conectividad entre las macetas y la Dashboard.",
    link: "https://leafly.tech",
    image: "/projects/leafly.webp",
    tags: [TAGS.NEXT, TAGS.CSS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0" key={title}>
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>

        {/* Optional Description */}
        {description && <p class="text-sm text-gray-600 dark:text-gray-400">{description}</p>}

        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags && tags.map((tag) => (
              <li class="flex gap-x-2 rounded-full text-xs py-1 px-2" key={tag.name}>
                <tag.icon class="size-4" />
                {tag.name}
              </li>
            ))}
          </ul>

          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </div>
      </div>
    </article>
  ))}
</div>



